* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-text {
  color: red;
  font-size: 36px;
  font-family: 'Lobster';
  padding: 10px 10px 10px 10px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  height: 30vh;
  width: 30vw;
}

.cards {
  padding: 10px 10px 10px 10px;
  height: 10vh;
  width: 10vw;
  font-family: 'Lobster';
}

.monopoly {
  padding: 10px 10px 10px 10px;
  height: 10vh;
  width: 10vw;
  font-family: 'Lobster';
}
